[id="sfid-button-ap-Log in with Facebook"] button:before {
	content: '';
	display: block;
	float: left;
	background: url('https://test.salesforce.com/icons/facebook-white.png');
	background-size: cover;
	width: 20px;
	height: 20px;
}

[id="sfid-button-ap-Sign in with Google"] button:before {
	content: '';
	display: block;
	float: left;
	background: url('https://test.salesforce.com/icons/google-white.png');
	background-size: cover;
	width: 20px;
	height: 20px;
}

[id="sfid-button-ap-Log in with Facebook"] button {
	color: #FFFFFF!important;
	background-color: #3b5998!important;
	border-color: #3b5998!important;
}

[id="sfid-button-ap-Sign in with Google"] button {
	color: #FFFFFF!important;
	background-color: #4285fe!important;
	border-color: #4285fe!important;
}

#sign-in-link {
	background-color: #FFFFFF!important;
	padding: 15px;
}

#sfid-forgot-password {
	float: right!important;
	color: #02e1be!important;
	text-decoration-line: none;
}

#sfid-submit {
	background-color: #02e1be!important;
}

#sfid-username {
	border-radius: 0!important;
	background-color: white!important;
	BORDER-TOP-STYLE: none!important;
	BORDER-RIGHT-STYLE: none!important; 
	BORDER-LEFT-STYLE: none!important; 
	BORDER-BOTTOM-STYLE:solid!important;
}

#sfid-password {
	border-radius: 0!important;
	background-color: white!important;
	BORDER-TOP-STYLE: none!important;
	BORDER-RIGHT-STYLE: none!important; 
	BORDER-LEFT-STYLE: none!important; 
	BORDER-BOTTOM-STYLE:solid!important;
}

#sfid-self-registration {
        width: 100%;
        text-align: center!important;
        border: 1px solid #02e1be;
        border-radius: 5px;
        margin-bottom: 10px;
        height: 35px;
        background-color: white!important;
        color: #02e1be!important;
        text-decoration-line: none;
        line-height: 35px;
}

#sfid-error {
	width: 330px;
}

#text-line {
	display: block;    
        position: relative; 			
        text-align: center;
}

#text-line:before, #text-line:after {
        content: '';                 
        position: absolute;         
        top: 52%;
        background: #54698d;       
        width: 45%;
        height: 1px;
}

#text-line:before{
        left: 0%;        
}
#text-line:after {
        right: 0%;
}
