[id="sfid-button-ap-Log in with Facebook"] button:before {
	content: '';
	display: block;
	float: left;
	background: url('https://test.salesforce.com/icons/facebook-white.png');
	background-size: cover;
	width: 20px;
	height: 20px;
}

[id="sfid-button-ap-Sign in with Google"] button:before {
	content: '';
	display: block;
	float: left;
	background: url('https://test.salesforce.com/icons/google-white.png');
	background-size: cover;
	width: 20px;
	height: 20px;
}

[id="sfid-button-ap-Log in with Facebook"] button {
	color: #FFFFFF!important;
	background-color: #3b5998!important;
}

[id="sfid-button-ap-Sign in with Google"] button {
	color: #FFFFFF!important;
	background-color: #4285fe!important;
}

#sfid-forgot-password {
	float: right!important;
	color: #02e1be!important;
}

#sfid-submit {
	background-color: #02e1be!important;
}
