[id="sfid-button-ap-Log in with Facebook"] button:before {
	content: '';
	display: block;
	float: left;
	background: url('https://test.salesforce.com/icons/facebook-white.png');
	background-size: cover;
	width: 20px;
	height: 20px;
}

[id="sfid-button-ap-Sign in with Google"] button:before {
	content: '';
	display: block;
	float: left;
	background: url('https://test.salesforce.com/icons/google-white.png');
	background-size: cover;
	width: 20px;
	height: 20px;
}

[id="sfid-button-ap-Log in with Facebook"] button {
	color: #FFFFFF!important;
	background-color: #3b5998!important;
	border-color: #3b5998!important;
}

[id="sfid-button-ap-Sign in with Google"] button {
	color: #FFFFFF!important;
	background-color: #4285fe!important;
	border-color: #4285fe!important;
}

#sfid-forgot-password {
	float: right!important;
	color: #02e1be!important;
}

#sfid-submit {
	background-color: #02e1be!important;
}

#sfid-username {
	BORDER-TOP-STYLE: none;
	BORDER-RIGHT-STYLE: none; 
	BORDER-LEFT-STYLE: none; 
	BORDER-BOTTOM-STYLE:solid;
}

#sfid-password {
	BORDER-TOP-STYLE: none;
	BORDER-RIGHT-STYLE: none; 
	BORDER-LEFT-STYLE: none; 
	BORDER-BOTTOM-STYLE:solid;
}

#sfid-self-registration {
        width: 100%;
        text-align: center;
        border: 1px solid #02e1be;
        border-radius: 5px;
        margin-bottom: 10px;
        height: 35px;
        background-color: white;
        color: #02e1be;
        text-decoration-line: none;
        line-height: 35px;
}

#sfid-error {
	width: 288px;
}
